<table class="table">
    <thead>
        <th>ID</th>
        <th>Título</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>
                <button type="button" name="" id="" class="btn btn-info" data-toggle="modal" data-target="#taskDetail"
                    (click)="onSelect(task)"><i class="fa fa-info" aria-hidden="true"></i> Detalhes </button>
                <button type="button" name="" id="" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>
                    Excluir</button>

            </td>
        </tr>
    </tbody>
</table>

<!-- <div ng *ngIf="selectedTask">
    <p>{{selectedTask.id}}</p>
    <p>{{selectedTask.title}}</p>
</div> -->

<task-detail [task]="selectedTask"></task-detail>